/**
 * Turbo CSS, subtree-scoped base styles | turbocss.com
 *
 * Inspired by:
 * - github.com/necolas/normalize.css
 * - github.com/suitcss/base
 * - github.com/mozdevs/cssremedy
 * - github.com/tailwindlabs/tailwindcss
 */

/**************************************/

/*
 * 1. Use taller default line-height so the user isn't forced to override it.
 *    Inspired by Tailwind CSS.
 * 2. Avoid text size adjustment on mobile and tablet devices on iOS.
 * 3. Use the user's configured `sans` font-family with a default sans-serif
 *    font stack as a fallback. Inspired by Tailwind CSS.
 */

.t1-root {
	line-height: 1.5; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body.t1-root,
.t1-root body {
	margin: 0;
}

/*
 * Modern defaults.
 */

.t1-root,
.t1-root::before,
.t1-root::after,
.t1-root *,
.t1-root ::before,
.t1-root ::after {
	box-sizing: border-box; /* 1 */
	border-width: 0;
}

/*
 * Replaced elements without an intrinsic aspect ratio.
 * Vertical-align applies only when the elements
 * display property is turned back to inline.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

audio.t1-root,
iframe.t1-root,
embed.t1-root,
object.t1-root,
.t1-root audio,
.t1-root iframe,
.t1-root embed,
.t1-root object {
	display: block;
	max-width: 100%;
	vertical-align: middle;
}

/*
 * Replaced elements with an intrinsic aspect ratio.
 * intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img.t1-root,
svg.t1-root,
video.t1-root,
canvas.t1-root,
.t1-root img,
.t1-root svg,
.t1-root video,
.t1-root canvas {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/*
 * Remove the border on images inside links in IE 10.
 */

img.t1-root,
.t1-root img {
	border-style: none;
}

/*
 * Modern default monospace font inspired by Tailwind CSS.
 */

pre.t1-root,
code.t1-root,
kbd.t1-root,
samp.t1-root,
.t1-root pre,
.t1-root code,
.t1-root kbd,
.t1-root samp {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*
 * Correct the odd `em` font sizing in all browsers.
 */

code.t1-root,
kbd.t1-root,
samp.t1-root,
.t1-root code,
.t1-root kbd,
.t1-root samp {
	font-size: 1em;
}


/*
 * Render the `main` element consistently in IE.
 */

main.t1-root,
.t1-root main {
	display: block;
}

/*
 * Use opt-in styling.
 */

h1.t1-root,
h2.t1-root,
h3.t1-root,
h4.t1-root,
h5.t1-root,
h6.t1-root,
.t1-root h1,
.t1-root h2,
.t1-root h3,
.t1-root h4,
.t1-root h5,
.t1-root h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

/*
 * Use opt-in styling.
 * 
 * 1. Some browsers default to using `overflow: hidden`, while an
 *    image in an `::after` pseudo element is often used.
 */

hr.t1-root,
.t1-root hr {
	margin: 0;
	height: 0;
	overflow: visible; /* 1 */
}


/*
 * Use opt-in styling.
 */

blockquote.t1-root,
dl.t1-root,
dd.t1-root,
figure.t1-root,
p.t1-root,
pre.t1-root,
.t1-root blockquote,
.t1-root dl,
.t1-root dd,
.t1-root figure,
.t1-root p,
.t1-root pre {
	margin: 0;
}

/*
 * Correct the odd `em` font sizing in all browsers.
 */

pre.t1-root,
.t1-root pre {
	font-size: 1em;
}

/*
 * 1. Remove the gray background on active links in IE 10.
 * 2. Use opt-in styling.
 */

a.t1-root,
.t1-root a {
	background-color: transparent; /* 1 */
	color: inherit; /* 2 */
	text-decoration: inherit; /* 2 */
}

/*
 * 1. Remove the bottom border in Chrome 57-
 * 2. Normalize text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr.t1-root[title],
.t1-root abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/*
 * Normalize font weight.
 */

b.t1-root,
strong.t1-root,
.t1-root b,
.t1-root strong {
	font-weight: bolder;
}

/*
 * Normalize font size.
 */

small.t1-root,
.t1-root small {
	font-size: 80%;
}

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub.t1-root,
sup.t1-root,
.t1-root sub,
.t1-root sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub.t1-root,
.t1-root sub {
	bottom: -0.25em;
}

sup.t1-root,
.t1-root sup {
	top: -0.5em;
}

/*
 * Hide element with `hidden` attribute.
 */

.t1-root[hidden],
.t1-root [hidden] {
	display: none;
}

/*
 * Use opt-in styling.
 */

button.t1-root,
.t1-root button {
	background-color: transparent;
	background-image: none;
	padding: 0;
}

/*
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button.t1-root:focus,
.t1-root button:focus {
	outline: 1px dotted;
	outline: 3px auto -webkit-focus-ring-color;
}

/*
 * Modern default.
 */

button.t1-root,
.t1-root[role="button"],
.t1-root button,
.t1-root [role="button"] {
	cursor: pointer;
}

/*
 * 1. Use opt-in styling.
 * 2. Normalize font in all browsers.
 */

button.t1-root,
input.t1-root,
optgroup.t1-root,
select.t1-root,
textarea.t1-root,
.t1-root button,
.t1-root input,
.t1-root optgroup,
.t1-root select,
.t1-root textarea {
	margin: 0; /* 1 */
	padding: 0; /* 1 */
	line-height: inherit; /* 1 */
	color: inherit; /* 1 */
	font-family: inherit; /* 2 */
	font-size: 100%; /* 2 */
}

/*
 * Show the overflow in IE.
 */

button.t1-root,
input.t1-root,
.t1-root button,
.t1-root input {
	overflow: visible;
}

/*
 * Remove the inheritance of text transform.
 */

button.t1-root,
select.t1-root,
.t1-root button,
.t1-root select {
	text-transform: none;
}

/*
 * Correct the inability to style clickable types in iOS and Safari.
 */

button.t1-root,
.t1-root[type="button"],
.t1-root[type="reset"],
.t1-root[type="submit"],
.t1-root button,
.t1-root [type="button"],
.t1-root [type="reset"],
.t1-root [type="submit"] {
	-webkit-appearance: button;
}

/*
 * Remove the inner border and padding in Firefox.
 */

button.t1-root::-moz-focus-inner,
.t1-root[type="button"]::-moz-focus-inner,
.t1-root[type="reset"]::-moz-focus-inner,
.t1-root[type="submit"]::-moz-focus-inner,
.t1-root button::-moz-focus-inner,
.t1-root [type="button"]::-moz-focus-inner,
.t1-root [type="reset"]::-moz-focus-inner,
.t1-root [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/*
 * Restore the focus styles unset by the previous rule.
 */

button.t1-root:-moz-focusring,
.t1-root[type="button"]:-moz-focusring,
.t1-root[type="reset"]:-moz-focusring,
.t1-root[type="submit"]:-moz-focusring,
.t1-root button:-moz-focusring,
.t1-root [type="button"]:-moz-focusring,
.t1-root [type="reset"]:-moz-focusring,
.t1-root [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/*
 * Opt-in styling.
 */

fieldset.t1-root,
.t1-root fieldset {
	margin: 0;
	padding: 0;
}

/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend.t1-root,
.t1-root legend {
	box-sizing: border-box; /* 1 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	white-space: normal; /* 1 */
	color: inherit; /* 2 */
	padding: 0; /* 3 */
}

/*
 * Normalize vertical alignment in Chrome, Firefox, and Opera.
 */

progress.t1-root,
.t1-root progress {
	vertical-align: baseline;
}

/*
 * 1. Remove the default vertical scrollbar in IE 10+.
 * 2. Modern default.
 */

textarea.t1-root,
.t1-root textarea {
	overflow: auto; /* 1 */
	resize: vertical; /* 2 */
}

/*
 * 1. Normalize box sizing in IE 10.
 * 2. Remove padding in IE 10.
 */

.t1-root[type="checkbox"],
.t1-root[type="radio"],
.t1-root [type="checkbox"],
.t1-root [type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/*
 * Normalize cursor style of increment and decrement buttons in Chrome.
 */

.t1-root[type="number"]::-webkit-inner-spin-button,
.t1-root[type="number"]::-webkit-outer-spin-button,
.t1-root [type="number"]::-webkit-inner-spin-button,
.t1-root [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/*
 * 1. Normalize odd appearance in Chrome and Safari.
 * 2. Normalize outline style in Safari.
 */

.t1-root[type="search"],
.t1-root [type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/*
 * Remove the inner padding in Chrome and Safari on macOS.
 */

.t1-root[type="search"]::-webkit-search-decoration,
.t1-root [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

.t1-root::-webkit-file-upload-button,
.t1-root ::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
 * Normalize display in Edge, IE 10+, and Firefox.
 */

details.t1-root,
.t1-root details {
	display: block;
}

/*
 * Normalize display in all browsers.
 */

summary.t1-root,
.t1-root summary {
	display: list-item;
}

/*
 * Normalize display in IE 10+.
 */

template.t1-root,
.t1-root template {
	display: none;
}

/*
 * Opt-in styling.
 */

ol.t1-root,
ul.t1-root,
.t1-root ol,
.t1-root ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/*
 * Modern default.
 */

table.t1-root,
.t1-root table {
	border-collapse: collapse;
}

