/**
 * Turbo CSS, subtree-scoped base styles | turbocss.com
 *
 * Inspired by:
 * - github.com/necolas/normalize.css
 * - github.com/suitcss/base
 * - github.com/mozdevs/cssremedy
 * - github.com/tailwindlabs/tailwindcss
 */

/**************************************/

/*
 * 1. Use taller default line-height so the user isn't forced to override it.
 *    Inspired by Tailwind CSS.
 * 2. Avoid text size adjustment on mobile and tablet devices on iOS.
 * 3. Use the user's configured `sans` font-family with a default sans-serif
 *    font stack as a fallback. Inspired by Tailwind CSS.
 */

.t1-root {
	line-height: 1.5; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body.t1,
.t1 body {
	margin: 0;
}

/*
 * Modern defaults.
 */

.t1,
.t1::before,
.t1::after,
.t1 *,
.t1 ::before,
.t1 ::after {
	box-sizing: border-box; /* 1 */
	border-width: 0;
}

/*
 * Replaced elements without an intrinsic aspect ratio.
 * Vertical-align applies only when the elements
 * display property is turned back to inline.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

audio.t1,
iframe.t1,
embed.t1,
object.t1,
.t1 audio,
.t1 iframe,
.t1 embed,
.t1 object {
	display: block;
	max-width: 100%;
	vertical-align: middle;
}

/*
 * Replaced elements with an intrinsic aspect ratio.
 * intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img.t1,
svg.t1,
video.t1,
canvas.t1,
.t1 img,
.t1 svg,
.t1 video,
.t1 canvas {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/*
 * Remove the border on images inside links in IE 10.
 */

img.t1,
.t1 img {
	border-style: none;
}

/*
 * Modern default monospace font inspired by Tailwind CSS.
 */

pre.t1,
code.t1,
kbd.t1,
samp.t1,
.t1 pre,
.t1 code,
.t1 kbd,
.t1 samp {
	font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*
 * Correct the odd `em` font sizing in all browsers.
 */

code.t1,
kbd.t1,
samp.t1,
.t1 code,
.t1 kbd,
.t1 samp {
	font-size: 1em;
}


/*
 * Render the `main` element consistently in IE.
 */

main.t1,
.t1 main {
	display: block;
}

/*
 * Use opt-in styling.
 */

h1.t1,
h2.t1,
h3.t1,
h4.t1,
h5.t1,
h6.t1,
.t1 h1,
.t1 h2,
.t1 h3,
.t1 h4,
.t1 h5,
.t1 h6 {
	margin: 0;
	font-size: inherit;
	font-weight: inherit;
}

/*
 * Use opt-in styling.
 * 
 * 1. Some browsers default to using `overflow: hidden`, while an
 *    image in an `::after` pseudo element is often used.
 */

hr.t1,
.t1 hr {
	margin: 0;
	height: 0;
	overflow: visible; /* 1 */
}


/*
 * Use opt-in styling.
 */

blockquote.t1,
dl.t1,
dd.t1,
figure.t1,
p.t1,
pre.t1,
.t1 blockquote,
.t1 dl,
.t1 dd,
.t1 figure,
.t1 p,
.t1 pre {
	margin: 0;
}

/*
 * Correct the odd `em` font sizing in all browsers.
 */

pre.t1,
.t1 pre {
	font-size: 1em;
}

/*
 * 1. Remove the gray background on active links in IE 10.
 * 2. Use opt-in styling.
 */

a.t1,
.t1 a {
	background-color: transparent; /* 1 */
	color: inherit; /* 2 */
	text-decoration: inherit; /* 2 */
}

/*
 * 1. Remove the bottom border in Chrome 57-
 * 2. Normalize text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr.t1[title],
.t1 abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/*
 * Normalize font weight.
 */

b.t1,
strong.t1,
.t1 b,
.t1 strong {
	font-weight: bolder;
}

/*
 * Normalize font size.
 */

small.t1,
.t1 small {
	font-size: 80%;
}

/*
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub.t1,
sup.t1,
.t1 sub,
.t1 sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub.t1,
.t1 sub {
	bottom: -0.25em;
}

sup.t1,
.t1 sup {
	top: -0.5em;
}

/*
 * Hide element with `hidden` attribute.
 */

.t1[hidden],
.t1 [hidden] {
	display: none;
}

/*
 * Use opt-in styling.
 */

button.t1,
.t1 button {
	background-color: transparent;
	background-image: none;
	padding: 0;
}

/*
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button.t1:focus,
.t1 button:focus {
	outline: 1px dotted;
	outline: 3px auto -webkit-focus-ring-color;
}

/*
 * Modern default.
 */

button.t1,
.t1[role="button"],
.t1 button,
.t1 [role="button"] {
	cursor: pointer;
}

/*
 * 1. Use opt-in styling.
 * 2. Normalize font in all browsers.
 */

button.t1,
input.t1,
optgroup.t1,
select.t1,
textarea.t1,
.t1 button,
.t1 input,
.t1 optgroup,
.t1 select,
.t1 textarea {
	margin: 0; /* 1 */
	padding: 0; /* 1 */
	line-height: inherit; /* 1 */
	color: inherit; /* 1 */
	font-family: inherit; /* 2 */
	font-size: 100%; /* 2 */
}

/*
 * Show the overflow in IE.
 */

button.t1,
input.t1,
.t1 button,
.t1 input {
	overflow: visible;
}

/*
 * Remove the inheritance of text transform.
 */

button.t1,
select.t1,
.t1 button,
.t1 select {
	text-transform: none;
}

/*
 * Correct the inability to style clickable types in iOS and Safari.
 */

button.t1,
.t1[type="button"],
.t1[type="reset"],
.t1[type="submit"],
.t1 button,
.t1 [type="button"],
.t1 [type="reset"],
.t1 [type="submit"] {
	-webkit-appearance: button;
}

/*
 * Remove the inner border and padding in Firefox.
 */

button.t1::-moz-focus-inner,
.t1[type="button"]::-moz-focus-inner,
.t1[type="reset"]::-moz-focus-inner,
.t1[type="submit"]::-moz-focus-inner,
.t1 button::-moz-focus-inner,
.t1 [type="button"]::-moz-focus-inner,
.t1 [type="reset"]::-moz-focus-inner,
.t1 [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/*
 * Restore the focus styles unset by the previous rule.
 */

button.t1:-moz-focusring,
.t1[type="button"]:-moz-focusring,
.t1[type="reset"]:-moz-focusring,
.t1[type="submit"]:-moz-focusring,
.t1 button:-moz-focusring,
.t1 [type="button"]:-moz-focusring,
.t1 [type="reset"]:-moz-focusring,
.t1 [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/*
 * Opt-in styling.
 */

fieldset.t1,
.t1 fieldset {
	margin: 0;
	padding: 0;
}

/*
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend.t1,
.t1 legend {
	box-sizing: border-box; /* 1 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	white-space: normal; /* 1 */
	color: inherit; /* 2 */
	padding: 0; /* 3 */
}

/*
 * Normalize vertical alignment in Chrome, Firefox, and Opera.
 */

progress.t1,
.t1 progress {
	vertical-align: baseline;
}

/*
 * 1. Remove the default vertical scrollbar in IE 10+.
 * 2. Modern default.
 */

textarea.t1,
.t1 textarea {
	overflow: auto; /* 1 */
	resize: vertical; /* 2 */
}

/*
 * 1. Normalize box sizing in IE 10.
 * 2. Remove padding in IE 10.
 */

.t1[type="checkbox"],
.t1[type="radio"],
.t1 [type="checkbox"],
.t1 [type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/*
 * Normalize cursor style of increment and decrement buttons in Chrome.
 */

.t1[type="number"]::-webkit-inner-spin-button,
.t1[type="number"]::-webkit-outer-spin-button,
.t1 [type="number"]::-webkit-inner-spin-button,
.t1 [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/*
 * 1. Normalize odd appearance in Chrome and Safari.
 * 2. Normalize outline style in Safari.
 */

.t1[type="search"],
.t1 [type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/*
 * Remove the inner padding in Chrome and Safari on macOS.
 */

.t1[type="search"]::-webkit-search-decoration,
.t1 [type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/*
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

.t1::-webkit-file-upload-button,
.t1 ::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
 * Normalize display in Edge, IE 10+, and Firefox.
 */

details.t1,
.t1 details {
	display: block;
}

/*
 * Normalize display in all browsers.
 */

summary.t1,
.t1 summary {
	display: list-item;
}

/*
 * Normalize display in IE 10+.
 */

template.t1,
.t1 template {
	display: none;
}

/*
 * Opt-in styling.
 */

ol.t1,
ul.t1,
.t1 ol,
.t1 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


/*
 * Modern default.
 */

table.t1,
.t1 table {
	border-collapse: collapse;
}

